<div class = "sign_ins">
  <form action="<%= session_url %>" method="post">
  <h1>Login</h1>
  <br>
    <label for="email">Email
      <input type="text" name="users[email]">
    </label> 
    <br>
    <label for="Passsword">Password
      <input type="password" name="users[password]">
    </label>
    <br>
    <input type="submit" value="Login" class="buttons">
    </form>

    <form action="<%= new_user_url %>" method="get">
      <input type="submit" value="Sign Up" class="buttons_right">
    </form>
  </div>

