<form action="<%=session_url %>" method="post">
<h1>Login</h1>
<br>
  <label for="email">Email
    <input type="text" name="users[email]">
   </label> 
  <br>
  <label for="email">Password
    <input type="password" name="users[password]">
  </label>
  <br>
  <input type="submit" value="Login">
</form>
